*.pro.user
*.pro.user.*
*.autosave
debug/

# Qt Creator (локальные файлы)
*.qbs.user
*.qmlproject.user
*.qmlproject.user.*
*.creator
*.creator.user
*.creator.user.*
*.autosave
.qtc/
.qtc_clangd/
.qt/

# qmake / автогенерация
Makefile
Makefile.Debug
Makefile.Release
.qmake.cache
.qmake.stash
moc_*.cpp
ui_*.h
qrc_*.cpp
moc/
release/

# CMake / каталоги сборки
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeUserPresets.json
cmake-build-*/
build/
build-*/
out/
bin/
lib/

# QML cache
.qmlcache/
qmlcache_loader.cpp

# Платформенные сборки
android-build/
ios-build/

# Бинарники/объектные/отладочные
*.o
*.obj
*.lo
*.a
*.la
*.lib
*.so
*.dylib
*.dll
*.exe
*.app
*.rcc
*.exp
*.pdb
*.ilk
*.dSYM/

# Precompiled headers
*.gch
*.pch

# Логи/временные/покрытие
*.log
*.tmp
*.temp
*.gcda
*.gcno
*.gcov

# IDE
.vscode/
.idea/
.vs/
*.VC.db
*.opendb

# Файлы ОС
.DS_Store
Thumbs.db
Desktop.ini

